# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
.eggs/
lib/
lib64/
*.egg-info/
*.egg

# Virtual environment
.venv

# Logs from program
.log
outputs/
multirun/

data/20250523_EPG_4km2500m_GSD_10cm-orthomosaic.tiff
data/EPG_photos
data/EPG_photos_resized512
data/EPG_photos_resized_proper
data/patches_from_trajectory
data/test_naip
