matplotlib
numpy
opencv-python-headless
# opencv-python
scikit-image
pytorch-metric-learning
faiss-gpu
faiss-cpu
torchvision
torchviz
neptune
torchsummary
black
flake8
pylint
pytest
pre-commit
timm
hydra-core